<ion-header>
    <ion-navbar>
      <ion-title text-center>
        <img src="../assets/imgs/viewgramlogo.png" alt="" style="width: 150px">
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-card *ngIf="json.data">

        <ion-item (click)="goToProfile(json.data.id_user)">
          <ion-avatar item-start>
            <img src="{{json.data.avatar}}">
          </ion-avatar>
          <h2>{{json.data.username}}</h2>
          <p>{{json.data.location}}</p>
        </ion-item>
      
        <img src="http://10.240.130.170:8080//viewgram//{{json.data.post_filename}}">
      
        <ion-card-content>
          <p *ngIf="json.data.likes" color="dark"><a (click)="goToList(json.data.id_user)">Likes</a></p>
          <p>{{json.data.post_caption}}</p>
          <div *ngIf="json.data.tags">Tags:</div>
          <div *ngFor="let tag of json.data.tags" >#{{tag.hashtag}}</div>
          <p *ngIf="json.data.taggedUsers">Tagged Users:</p>
          <div  *ngFor="let tag of json.data.taggedUsers" ><a (click)="goToProfile(tag.id_user)">@{{tag.username}}</a>,</div>
        
        </ion-card-content>
        <ion-col right text-right>
            <ion-note>
              {{json.data.created_at}}
            </ion-note>
          </ion-col>
        <ion-row>
            
          <ion-col>
            
            <button *ngIf="!json.data.user_liked" ion-button icon-left clear small (click)="like()" color="dark" >
              <ion-icon name="heart" isActive="false"></ion-icon>
              <div> <p>{{json.data.likes}}</p></div>
            </button>
            <button *ngIf="json.data.user_liked" ion-button icon-left clear small (click)="dislike()" color="dark" >
                <ion-icon name="heart"></ion-icon>
                <div> <p>{{json.data.likes}}</p></div>
              </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small (click)="ToggleCommentBox()" color="dark" >
              <ion-icon name="text"></ion-icon>
              <div>Comment</div>
            </button>
          </ion-col>
          <ion-col>
              <button ion-button icon-left clear small color="danger" (click)="report()" >
                <ion-icon name="alert"></ion-icon>
                <div>Report</div>
              </button>
            </ion-col>
          
        </ion-row>
      <ion-row >
        <ion-list *ngIf="commentBox">
          <ion-item *ngFor=" let comment of json.data.comments">
                <h2>{{comment.username}}</h2>
                <p>{{comment.comment_text}}</p>
                <button *ngIf="comment.id_user==user_id || json.data.id_user == user_id " ion-button icon-right clear small (click)="deleteComment(comment)"><ion-icon name="trash"></ion-icon></button>
          </ion-item>
          <form (ngSubmit)="comment()">
          <ion-item>
            
              <ion-label>Comment</ion-label>
            <ion-textarea type="text" [(ngModel)]="commentJson.comment_text" name="comment_text"></ion-textarea>
          </ion-item>
          <button ion-button icon-left clear small type="sumbit"><ion-icon name="send"></ion-icon></button>
          
        </form>
        </ion-list>
      </ion-row>
      </ion-card>
</ion-content>
