<ion-header>

    <ion-navbar>
      <ion-title *ngIf="json">{{json.username}}</ion-title>
      <ion-title *ngIf="!json">Profile</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-grid *ngIf="json">
      <ion-row>
        <ion-col>
          <img src="json.avatar" class="ProfilePic">
        </ion-col>
        <ion-col>
            <span><h3>{{json.name}}</h3></span> 
          </ion-col>


       
        <ion-col>
            <span>Posts: {{json.postscount}}</span>
            <span (click)="followerPage(json.id_user)">Followers: {{json.followers_count}}</span>
            <span (click)="followingPage(json.id_user)">Following: {{json.following_count}}</span>
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col>
            
            <span>Bio: {{json.biography}}</span>
            <button ion-button (click)="goToEditProfile()">Edit Profile</button>
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row>
            <ion-col>
                <div padding>
                    <ion-segment [(ngModel)]="Post">
                      <ion-segment-button value="userPosts">
                        Posts
                      </ion-segment-button>
                      <ion-segment-button value="likedPosts">
                        Posts You've Liked
                      </ion-segment-button>
                    </ion-segment>
                  </div>
                  
                  <div [ngSwitch]="Post">
                    <ion-row *ngSwitchCase="'likedPosts'" >
                      <ion-col *ngFor="let post of json.liked_posts">
                          <img (click)="goToPost(post.post_id)" src="{{post.post_filename}}">
                      </ion-col>
                    </ion-row>
                   
                    <ion-row *ngSwitchCase="'userPosts'" >
                        <ion-col *ngFor="let post of json.posts">
                            <img (click)="goToPost(post.post_id)" src="{{post.post_filename}}">
                        </ion-col>
                      </ion-row>
                  </div>
            </ion-col>
        </ion-row>
      <hr>
      
  
  
    </ion-grid>
  
  </ion-content>