<ion-header>

  <ion-navbar>
    <div text-center>
      <ion-title *ngIf="json">{{json.username}}</ion-title>
      <ion-title *ngIf="!json">Profile</ion-title>
    </div>
    <ion-buttons right>
      <button ion-button clear (click)="goToLogin()">
        <ion-icon name="log-out" style="font-size: 25px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="json">
    <ion-row>

      <ion-col col-3>
        <ion-avatar>
          <img src="json.avatar" class="ProfilePic">
        </ion-avatar>
      </ion-col>

      <ion-col col-9>
        <ion-row text-center>
          <ion-col col-4>
            <span style="font-weight: bold">{{json.postscount}}</span>
            <br>
            <span style="font-size: 10px">Posts</span>
          </ion-col>

          <ion-col col-4>
            <span style="font-weight: bold" (click)="followerPage(json.id_user)">{{json.followers_count}}</span>
            <br>
            <span style="font-size: 10px">Followers</span>
          </ion-col>

          <ion-col col-4>
            <span style="font-weight: bold" (click)="followingPage(json.id_user)">{{json.following_count}}</span>
            <br>
            <span style="font-size: 10px">Following</span>
          </ion-col>

        </ion-row>

        <ion-row>
          <button ion-button outline color="dark" (click)="goToEditProfile()" style="width: 100%; font-size: 15px">Edit Profile</button>
        </ion-row>

      </ion-col>
    
    </ion-row>
    <br>
    
    <span>
      <h4>{{json.name}}</h4>
    </span>
    
    <ion-row>
     
      <ion-col>
        <span style="font-size: 15px;">{{json.biography}}</span>
      </ion-col>
    
    </ion-row>
    <hr/>
    
    <ion-row>
      
      <ion-col>
        <div padding>
          <ion-segment [(ngModel)]="Post">
            <ion-segment-button value="userPosts">
              Posts
            </ion-segment-button>
            <ion-segment-button value="likedPosts">
              Posts You've Liked
            </ion-segment-button>
          </ion-segment>
        </div>

        <div [ngSwitch]="Post">
          <ion-row *ngSwitchCase="'likedPosts'">
            <ion-col *ngFor="let post of json.liked_posts">
              <img (click)="goToPost(post.post_id)" src="{{post.post_filename}}">
            </ion-col>
          </ion-row>

          <ion-row *ngSwitchCase="'userPosts'">
            <ion-col *ngFor="let post of json.posts">
              <img (click)="goToPost(post.post_id)" src="{{post.post_filename}}">
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <hr>



  </ion-grid>

</ion-content>
