page-login {
    ion-content{
        background-image: url('../assets/imgs/loginb.jpg');
        background-size: cover;
        
       .form ion-item{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
        font-size: 20px;
       }
       .imglogo{
        margin-top: 30px;
       }
       
    }
}
